/*Table of Contents
-----------------------------------------------------------------------
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
-----------------------------------------------------------------------*/
/* General Content
-----------------------------------------------------------------------*/

strong {
    font-weight: 800;
}

body {
    background-color: #ebd8ae;
    font-family: 'Nunito Sans', sans-serif;
    /*font-weight: 600;*/
}

p {
    font-size: 20px;
}

p.copyright {
    font-size: 14px;
    margin-top: 10px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    margin-top: 12px;
}

h2 {
    text-align: center;
    padding: 15px;
    margin-bottom: 40px;
}

.container-fluid {
    background-color: #ebaa14;
}

footer {
    background-color: #ebaa14;
    text-align: center;
    font-size: 20px;
}

a.btn {
    background-color: #ebaa14;
    color: black;
    font-size: 20px;
    font-weight: 700;
    border-color: black;
}

a.btn:hover {
    background-color: black;
    color: white;
}

a {
    color: black;
}

a.scotland:hover {
    color: black;
}

a.con:hover {
    color: black;
}

span {
    display: none;
}

/* Typography
-----------------------------------------------------------------------*/
/* Header & Navigation
-----------------------------------------------------------------------*/

h2.first {
    font-weight: 800;
}

.logo1 {
    text-align: right;
}

.head1 {
    background-color: #ebaa14;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

nav {
    border-radius: 0px !important;
}

.navbar-nav {
    float: none;
    text-align: center;
}

.navbar-nav li {
    display: inline-block;
    float: none;
}

.navbar {
    font-size: 25px;
    border: none;
    font-weight: 600;
}

.navbar a.active {
    background-color: #ebd8ae;
    color: black !important;
}

.navbar a.active:hover {
    color: #ebaa14 !important;
}

.navbar a {
    color: #ebaa14 !important;
}

.navbar a:hover {
    color: white !important;
}

.btn-primary {
    font-weight: 800 !important;
}

/* Images & Media
-----------------------------------------------------------------------*/

.imgmain {
    margin-bottom: 15px;
    border-radius: 15px;
    filter: drop-shadow(8px 8px 10px gray);
    max-width: 100%;
}

img.wid {
    max-width: 100%;
    filter: drop-shadow(8px 8px 10px gray);
}

/* Footer
-----------------------------------------------------------------------*/

h3.footer {
    font-weight: 800;
    font-size: 20px
}

footer {
    padding-top: 12px;
    padding-bottom: 2px;
    margin-top: 30px;
}

.social {
    margin-top: 35px;
    margin-bottom: 0;
}

ul.social {
    display: block;
    list-style-type: none;
    padding-left: 0 !important;
}

ul.social li {
    font-size: 1.2em;
    display: inline;
    padding: 0 2%;
}

ul.social li.facebook a:hover{color: rgb(59,89,152);}
ul.social li.twitter a:hover{color: rgb(0,172,237);}
ul.social li.youtube a:hover{color: rgb(187,0,0);}

/* Media Queries
-----------------------------------------------------------------------*/
/* Larger than mobile */